<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>资讯中心—文章详情</title>


    <script src="js/jquery-1.9.1.min.js" type="text/javascript" language="javascript"></script>
    <script src="js/new-slide.js" type="text/javascript" language="javascript"></script>
     <script src="js/style.js" type="text/javascript" language="javascript"></script>
    <script src="js/new-nav.js" type="text/javascript" language="javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/new-style.css">
    <style type="text/css">
	.news .news_content{width: 100%;min-height: 80px;}
	.main .main_left .new_list .first{height: 80px;}
	.news .news_content .title{font-size: 20px;font-weight: bold;}
	.bshare-custom.icon-medium-plus, .bshare-custom.icon-large{padding-left: 25px;}
    </style>
</head>
<body>

<body>
<div class="header">
	<div class="content">
		<div class="logo"></div>
		<ul class="nav">
			<li><a href class="on">首页</a></li>
			<li id="industry"><a href>行业</a></li>
			<li><a href>数据</a></li>
			<li><a href>观点</a></li>
		</ul>
		<form class="search">
			<input type="text" value="请输入关键字查询" class="text"><input type="button" value="搜索" class="button">
		</form>
	</div>

	<div class="in_nav" id="in_nav">
		<ul>
			<img src="images/nav_top.png" class="in_nav_top">
			<li class="industry1"><a href>建材行业</a></li>
			<li class="industry2"><a href>耐火行业</a></li>
			<li class="industry3"><a href>钢铁行业</a></li>
			<li class="industry4"><a href>冶金化工行业</a></li>
			<li class="industry5"><a href>设备行业</a></li>
			<li class="industry6"><a href>其他行业</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="main">
	<div class="nav_top">您现在的位置：<a>首页</a>><a>行业</a>>建材行业</div>
	<div class="main_left">
		<div class="new_list quotation_margin_top">
			
			<div class="news first">
				<div class="news_content">
					<h3>
						<a href><span class="trade">耐火行业</span></a>
						<a href><span class="title">新常态下我国钢铁企业多元产业发展的战略思考</span></a><!-- 标题处后台需限制输入字数 -->
					</h3>
					<p class="author">
						<img src="images/20170123161308.jpg" class="head_pic">
						<span class="time">2016-12-13</span>
						<span class="count">225次</span>
						<span style="left:300px;">
							文章来源：<a href>生意社</a>
						</span>
						<span style="left:450px;">
							关键字：<a href>建材</a>
						</span>
					</p>

				</div>
			</div>
			<div class="news_cont">
				<p>
					2014年，中国钢铁工业协会重点统计的大中型钢铁企业主业销售利润率仅为0.85%，而其钢铁相关多元产业的平均利润率为3.5%~6%。虽然没有达到全国工业行业6%的平均利润水平，但也为那些多元产业占一定比重的钢铁企业作出了巨大贡献，填补了因钢铁主业亏损造成的效益损失。<br>

　　随着中国经济发展进入新常态，国内钢材需求已呈下降趋势，国内钢铁产能过剩矛盾更加突出，钢铁行业低盈利时代将会持续较长时间。多数完全依靠钢铁业务的企业集团会遇到前所未有的压力，在努力提高钢铁主业效益的前提下，这些企业需要寻找新的利润增长点，来推动其发展。<br>

　　发展多元产业的必要性<br>

　　我国钢铁企业发展多元产业，不仅和我国钢铁发展的国情有关，而且也是钢铁企业客观发展的必然。钢铁企业在维持一定钢铁经营规模的基础上，围绕主业发展多元产业或涉足新兴产业、开拓新的经济增长点已是大势所趋。<br>

　　钢铁企业发展多元产业，应当从战略高度去谋划。国内外先进钢铁企业的发展经验表明，发展多元产业已经成为钢铁企业由生产型制造向服务型制造转型、由产品竞争力向产业链竞争力迈进的必然趋势。钢铁企业要积极转变观念，从削减钢铁主业附加成本，还原钢铁主业专业性的战略高度去重新认识发展多元产业的重要意义，以延伸钢铁产业链、提升价值链为主线，高起点、高水平谋划好下一步多元产业的发展方向，实现多元产业与钢铁主业的协同耦合发展。<br>

　　发展多元产业有利于提升集团整体服务水平和盈利能力。在经济完全市场化的今天，多元产业已不再是传统意义上为钢铁主业保产服务的辅业，更不存在传统意义上辅业改制时的职工身份改变。今天的多元产业与钢铁主业，已经由原来的主辅关系转变为纯粹的市场化交易关系，这样既有利于倒逼多元产业提升服务水平与盈利能力，又有利于促进钢铁主业培育核心竞争优势。<br>

　　发展多元产业有利于优化资源配置。发展多元产业，不是简单的主辅分离，更不是钢铁主业甩包袱。发展多元产业是为了盘活存量资源资产、优化资源配置，创造更多的就业岗位，实现包括人力资源在内的各种资源的优化配置，更好地解决钢铁主业的附加成本问题，使钢铁主业的先进性充分还原。从这个意义上说，多元产业也可以解读为钢铁的相关产业，多元岗位上的职工同样是工作在其产业的主业岗位，其收入不一定比某些钢铁主业的岗位收入低。<br>
				</p>
				<!-- 分享代码 -->
				<div class="bshare-custom icon-medium-plus"><div class="bsPromo bsPromo2"></div><a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				<p class="line"></p>
				<div class="jump">
					<p>
						上一篇：<a href>2017北京铁腕治霾 金隅前景水泥厂4月底前停产</a>
					</p>
					<p>
						下一篇：<a href>2017北京铁腕治霾 金隅前景水泥厂4月底前停产</a>
					</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="list_right">
		<div class="data_box search_top">
			<h3 class="serch_hot">热门搜索</h3>
			<div class="search_word clear">
				<a>钢铁</a>
				<a>不锈钢</a>
				<a>铝制品</a>
				<a>耐火材料</a>
				<a>木材料</a>
				<a>玻璃</a>
				<a>五金产品</a>
				<a>高铝质</a>
				<a>钢铁</a>
				<a>不锈钢</a>
				<a>铝制品</a>
				<a>耐火材料</a>
				<a>木材料</a>
				<a>玻璃</a>
				<a>五金产品</a>
				<a>高铝质</a>
			</div>
		</div>
		<div class="data_box">
			<ul class="data_list addpic">
				<li class="title">
					<a href><h3>热门咨询</h3></a>
					<a href><span>更多</span></a>
				</li>
				<li>
					<a href>
						<img src="images/ad.png" title="新闻图片" class="list_news_pic">
					</a>
					<span class="list_news_title">
						<p>
							<a href>福州制造业税收见涨高端制造业表现抢眼</a>
						</p>
						<p>
							<span class="time">2016-12-13</span>
							<span class="count">225次</span>
						</p>
					</span>
				</li>
				<li>
					<a href>
						<img src="images/ad.png" title="新闻图片" class="list_news_pic">
					</a>
					<span class="list_news_title">
						<p>
							<a href>福州制造业税收见涨高端制造业表现抢眼</a>
						</p>
						<p>
							<span class="time">2016-12-13</span>
							<span class="count">225次</span>
						</p>
					</span>
				</li>
				<li>
					<a href>
						<img src="images/ad.png" title="新闻图片" class="list_news_pic">
					</a>
					<span class="list_news_title">
						<p>
							<a href>福州制造业税收见涨高端制造业表现抢眼</a>
						</p>
						<p>
							<span class="time">2016-12-13</span>
							<span class="count">225次</span>
						</p>
					</span>
				</li>
			</ul>
		</div>
		
		<a href><img src="images/ad.png" class="ad_box"></a>
		<a href><img src="images/ad.png" class="ad_box"></a>
		
	</div>

</div>	


</body>

</html>
