<!DOCTYPE html>
<html>
<head>
  <title>产品管理</title>
  <meta name="keywords"/>
  <meta name="description"/>
  <meta charset="utf-8">
  <link href="../css/user_index.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>

</head>
<body>
<div class="header">
		<div class="nav">
			<div class="logo-box zn-l">
				<dl>
					<dt><a href="" class="logo">
						耐耐网
					</a></dt>
					<dd><a href="/" class="back-index">返回耐耐首页</a></dd>
				</dl>	
			</div>
			<div class="nav-tit">
				<ul class="nav-list">
					<li>
						<a href="user_index.html">首页</a>
					</li>
					<li>
						<a href="user_zh.html">账户管理</a>
					</li>
					<li>
						<a href="user_zj.html">资金管理</a>
					</li>
					<li>
						<a href="user_chp.html" class="cur">产品管理</a>
					</li>
					<li>
						<a href="user_dd.html">交易管理</a>
					</li>
					<li>
						<a href="user_gz.html">关注中心</a>
					</li>
			 	</ul>
			</div>
		</div>
	</div>
	<div class="user_body">
		<div class="user_b">
			<!--start左侧导航-->	
			<div class="user_l">
				<div class="left_navigation">
					<ul>
						<li class="let_nav_tit"><h3>产品管理</h3></li>
						<li><a href="user_chp.html">产品信息</a></li>
						<li><a href="chp_fb.html">产品发布</a></li>
						<li><a href="chp_lb.html">商品类别</a></li>
						<li><a href="chp_gp.html"class="cur">挂牌</a></li>
					</ul>
				</div>
			</div>
			<!--end左侧导航-->	
			<!--start中间内容-->	
			<div class="user_c">
				<div class="user_zhxi">
					<div class="zhxi_tit">
						<p><a>产品管理</a>><a>挂牌</a></p>
					</div>
					<div class="chp_xx">
						
						<div class="xx_center">
							
						</div>
						<div class="tab_bt">
							<div class="t_bt">
								<a class="a_1"></a>
								<a class="a_2" href="chp_fb.html"></a>
								<a class="a_3"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end中间内容-->	
			<!--start右侧广告-->			
			<div class="user_r">
				<div class="wrap_con">
					<div class="tit clearfix">
						<h3>公告</h3>
					</div>
					<div class="con">
						<div class="con_medal clearfix">
							<ul>
								<li><a>暂无勋章</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--end右侧广告-->
		</div>
	</div>
</body>
</html>