<!DOCTYPE html>
<html>
<head>
  <title>产品管理</title>
  <meta name="keywords"/>
  <meta name="description"/>
  <meta charset="utf-8">
  <link href="../css/user_index.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>

</head>
<body>
<div class="header">
		<div class="nav">
			<div class="logo-box zn-l">
				<dl>
					<dt><a href="" class="logo">
						耐耐网
					</a></dt>
					<dd><a href="/" class="back-index">返回耐耐首页</a></dd>
				</dl>	
			</div>
			<div class="nav-tit">
				<ul class="nav-list">
					<li>
						<a href="user_index.html">首页</a>
					</li>
					<li>
						<a href="user_zh.html">账户管理</a>
					</li>
					<li>
						<a href="user_zj.html">资金管理</a>
					</li>
					<li>
						<a href="user_chp.html">产品管理</a>
					</li>
					<li>
						<a href="user_dd.html">交易管理</a>
					</li>
					<li>
						<a href="user_gz.html" class="cur">关注中心</a>
					</li>
			 	</ul>
			</div>
		</div>
	</div>
	<div class="user_body">
		<div class="user_b">
			<!--start左侧导航-->	
			<div class="user_l">
				<div class="left_navigation">
					<ul>
						<li class="let_nav_tit"><h3>关注中心</h3></li>
					</ul>
					<p style=" padding: 10px;color: rgb(87, 85, 85);">
						收藏的商品和推荐商品都在这里哦!
					</p>
				</div>
			</div>
			<!--end左侧导航-->	
			<!--start中间内容-->	
			<div class="user_c">
				<div class="user_zhxi">
					<div class="zhxi_tit">
						<p><a>关注中心</a>><a>收藏商品</a></p>
					</div>
					<div class="chp_xx">
						<div class="gz_sp">
							<ul>
								<li>
									<div class="img_l">
										<a href="">
											<img src="../images/banner/551b861eNe1c401dc.jpg"/>
										</a>
									</div>
									<div class="tit_r">
										<a href="">
											<span>设备市场/检测设备/分析仪</span>
										</a>
										<p>价格：<span>￥ 1500.00</span></p>
										<p>xx公司</p>
										<p class="sp_an"><a class="jr">加入购物车</a>
									    	<a class="de">删除</a>
										</p>
										
									</div>
								</li>
								<li>
									<div class="img_l">
										<a href="">
											<img src="../images/banner/551b861eNe1c401dc.jpg"/>
										</a>
									</div>
									<div class="tit_r">
										<a href="">
											<span>设备市场/检测设备/分析仪</span>
										</a>
										<p>价格：<span>￥ 1500.00</span></p>
										<p>xx公司</p>
										<p class="sp_an"><a class="jr">加入购物车</a>
									    	<a class="de">删除</a>
										</p>
										
									</div>
								</li>
								
							</ul>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
				
				<!--推荐商品-->
				<div class="user_zhxi">
					<div class="zhxi_tit">
						<p><a>关注中心</a>><a>推荐商品</a></p>
					</div>
					<div class="chp_xx">
						<div class="gz_sp">
							<ul>
								<li>
									<div class="img_l">
										<a href="">
											<img src="../images/banner/551b861eNe1c401dc.jpg"/>
										</a>
									</div>
									<div class="tit_r">
										<a href="">
											<span>设备市场/检测设备/分析仪</span>
										</a>
										<p>价格：<span>￥ 1500.00</span></p>
										<p>xx公司</p>
										<p class="sp_an"><a class="jr">加入购物车</a>
									    	<a class="de">删除</a>
										</p>
										
									</div>
								</li>
								<li>
									<div class="img_l">
										<a href="">
											<img src="../images/banner/551b861eNe1c401dc.jpg"/>
										</a>
									</div>
									<div class="tit_r">
										<a href="">
											<span>设备市场/检测设备/分析仪</span>
										</a>
										<p>价格：<span>￥ 1500.00</span></p>
										<p>xx公司</p>
										<p class="sp_an"><a class="jr">加入购物车</a>
									    	<a class="de">删除</a>
										</p>
										
									</div>
								</li>
								
							</ul>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
			</div>
			<!--end中间内容-->	
			<!--start右侧广告-->			
			<div class="user_r">
				<div class="wrap_con">
					<div class="tit clearfix">
						<h3>公告</h3>
					</div>
					<div class="con">
						<div class="con_medal clearfix">
							<ul>
								<li><a>暂无勋章</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--end右侧广告-->
		</div>
	</div>
</body>
</html>