<!DOCTYPE html>
<html>
 <head>
        <title>交易管理</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="js/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="js/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        
        <!-- Compressed Version
        <link type="text/css" rel="stylesheet" href="min/b=CoreAdmin&f=css/reset.css,css/style.css,css/jqueryui/jqueryui.css,js/jwysiwyg/jquery.wysiwyg.old-school.css,js/zoombox/zoombox.css" />
        <script type="text/javascript" src="min/b=CoreAdmin/js&f=cookie/jquery.cookie.js,jwysiwyg/jquery.wysiwyg.js,tooltipsy.min.js,iphone-style-checkboxes.js,excanvas.js,zoombox/zoombox.js,visualize.jQuery.js,jquery.uniform.min.js,main.js"></script>
        -->
        <link rel="stylesheet" href="css/min.css" />
        <script type="text/javascript" src="js/min.js"></script>
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.min.css">
    </head>
    <body>
            
        <!--            
              CONTENT 
                        --> 
        <div id="content" class="white">
            <h1><img src="img/icons/dashboard.png" alt="" />报盘管理
</h1>
                
<div class="bloc">
    <div class="title">
       报盘信息
    </div>
     <div class="pd-20">
	 	 <table class="table table-border table-bordered table-bg">
	 		<tr>
	 			<th>标的编号</th>
	 			<td>HDBD08003-1</td>
	 			<th>客户编号</th>
	 			<td>HDBD08003-1</td>
	 			<th>委托方</th>
	 			<td>admin</td>
	 		</tr>
            <tr>
                <th>交易方式</th>
                <td>采购</td>
                <th>交易种类</th>
                <td>现货交易</td>
                <th>商品大类</th>
                <td>钢铁市场</td>
            </tr>
      	 		<tr>
      	 			<th>商品种类</th>
      	 			<td>热卷</td>
      	 			<th>可否拆分</th>
      	 			<td>否</td>
      	 			<th>数量</th>
      	 			<td></td>
      	 		</tr>
            <tr>
              <th>包装单位</th>
              <td>--</td>
              <th>单位重量</th>
              <td>--</td>
              <th>计量单位</th>
              <td>吨</td>
              
            </tr>
            <tr>
              <th>商品总重</th>
              <td>10</td>
              <th>挂牌价</th>
              <td>100.0000</td>
              <th>状态</th>
              <td>待审核</td>
             
            </tr>
            <tr>
              <th>类型</th>
              <td>保证金</td>
              <th>挂牌价</th>
              <td>100.0000</td>
              <th>状态</th>
              <td>待审核</td>
            </tr>

            <tr>
              <th scope="col" colspan="6">
                 <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="icon-ok"></i> 通过</a> 
                 <a href="" class="btn btn-primary radius"><i class="icon-remove"></i> 不通过</a>
                 <a onclick="history.go(-1)" class="btn btn-default radius"><i class="icon-remove"></i> 返回</a>
              </th>
            </tr>
	 	</table>
 	</div>
</div>

</div>
        
        
    </body>
</html>