
.clear{
	clear: both;
}
input{
	outline:none
}
.help_sign{
	float: left;
	width: auto;
	height: 63px;
	background-color: #c81623;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 63px;
	font-weight: bolder;
	position: absolute;
	left: 0px;
	top: 0px;
}
.help_sign img{
	padding-right: 20px;float: left;
}
.help_sign .line{
	width:2px;
	height: 50px;
	margin-top:7px;
	background: #fff;
	display: inline-block;float: left;
}
.help_sign span{
	margin-left: 20px;float: left;
}
.help_nav{
	height: 63px;
	line-height: 63px;
	float: left;
	position: absolute;
	right: 30px;
	top: 0px;
}
#index_nav .help_nav li a{
	text-decoration: none;
}
#index_nav .help_nav li.current {
background-color: #9e2324;
}
#index_nav .help_nav li:hover {
	
	background-color: #9e2324;
}
#index_nav .help_nav li {
float: left;
width: 115px;
text-align: center;
border-left: 1px solid #e53f30;
border-right: 1px solid #9e2324;
}
#index_nav .help_nav li a {
color: #ffffff;
display: block;
width: 110px;
text-align: center;
height: 63px;
}
.help_top{
	text-align: center;
	background: url(../images/bg/bgt.jpg);
	padding: 40px 0;
}
.help_top .help_search{
	outline: none;
	width: 300px;
	height: 30px;
	border: 2px solid #ff9a40;
	padding: 3px 5px 3px 50px;
	background: url(../images/icon/search.jpg) no-repeat #fff;
}
.button_serch{
	font-size: 16px;
	height: 40px;
	width: 100px;
	background: #ff9a40;
	border: 0px;
	color: #fff;
	position: relative;
	left: -3px;
}
.help_con{
	margin: 0 40px
}
.help_con h2{
	color: #c81624;
	font-weight: 700;
	padding: 20px 10px;
}
.help_text{
	border: 1px solid #EDEBEB;
	background:#f2f2f2;
	padding: 20px 0;
}
.help_text ul li{
	width: 50%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
}
.text_a{
	font-size: 15px;
	cursor: pointer;
	padding: 0 20px;
	background: url(../images/icon/icon_jt.png) no-repeat 0 center;
}

/*常见问题css*/
.comm_problem_top {
    padding: 0px 82px;
    height: 55px;
    line-height: 55px;
    width: 1190px;
    margin: 0 auto;
}
.com_por_tit{
	float: left;
}
.form_right{
	float: right;
}
.form_right .com_pro_search{
	border: 1px solid #cccccc;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari 和 Chrome */
    border-radius: 3px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	padding: 8px;
	width: 400px;
}
.form_right .com_probutton{
	width: 50px;
	height: 34px;
	background: url(../images/icon/search_help.png) no-repeat center #e6e6e6;
	border: 0px;
	position: relative;
	left: -57px;
    top: 13px;
}


.comm_problem .dh_left{
	float: left;
	width: 200px
}
.comm_problem .dh_left .big_tit {
    padding: 12px 25px;
    background: #dbdbdb;
    text-align: center;
    color: #666666;
    font-size: 16px;
}
.comm_problem .dh_left .big_tit b {
    font-weight: normal;
    line-height: 25px;
    margin-left: 10px;
    font-size: 18px;
}
.comm_problem .dh_left ul li{
	border-bottom: 1px dashed #e0e0e0;
	cursor: pointer;
    position: relative;
}
.comm_problem .dh_left .ul1 li .tow_tit{
	display: block;
	height: 40px;
	line-height: 40px;
	background: #ffffff;
	padding-left: 30px;
}
.comm_problem .dh_left .ul1 li .cur{
	background: #fff;
}

.comm_problem .dh_left .ul1 li .first-title{
	padding: 0 50px 0 0px;
	font-size: 16px;
	font-weight: normal;
	color: #666;
}
.comm_problem_top .com_por_tit i.icon-home{
    background: url("../images/index/icon_index2.png") no-repeat center;
    display: block;
    float: left;
    width: 20px;
}
.comm_problem .dh_left .ul1 li .tow_tit i.icon-caret-down{
	background: url(../images/icon/help_down.png) no-repeat center;
	height: 5px;
	width: 10px;
	display: block;
	position: absolute;
    top: 16px;
    right: 26px;
}
.comm_problem .dh_left .ul1 li .tow_tit i.icon-caret-up{
	background: url(../images/icon/help_up.png) no-repeat center;
	height: 5px;
	width: 10px;
	display: block;
	position: absolute;
    top: 16px;
    right: 26px;
}
.comm_problem .dh_left .ul2{
display: none;
}
.comm_problem .dh_left .ul2 li{border: none;}
.comm_problem .dh_left .ul2 li{
	background: #fff;
}
.comm_problem .dh_left .ul2 li a:hover{
    
     background: url("../images/icon/shux.png") #f0f0f0 no-repeat;
    color: #c81624;
    position: relative;
    width: 190px;
    margin: 0;
    text-indent: 2em;
}
.comm_problem .dh_left .ul2 li a {
	display: block;
	height: 35px;
	line-height: 35px;
	margin-left: 25px;
	padding-left: 10px;
	font-weight: normal;
	color: #666;
}
.comm_problem .dh_left .ul2 li a.a_cur  {
    background: url("../images/icon/shux.png") #f0f0f0 no-repeat;
    color: #c81624;
    position: relative;
    width: 190px;
    margin: 0;
    text-indent: 2em;
}

.comm_problem .pro_con_right{
	float: left;
	width: 980px;
	margin-left: 10px;
	background: #fff;
}
/*.comm_problem .pro_con_right .right_conten h1 {
    padding: 13px 18px;
    font-size: 16px;
    border-bottom: 2px solid #d61515;
    position: absolute;
    height: 20px;
}*/
.pro_con_right .right_conten .con_time {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    height: 47px;
}
.com_por_tit span b{color: #999;font-size: 14px;font-weight: normal;}
.com_por_tit span a{text-decoration: none;}
.line_baifn{
	border-top: 1px solid #dedede;
}
.comm_problem .pro_con_right .right_conten .text_word{
	padding: 30px 35px;
	min-height: 380px;
}
.text_word p{
	/*font-size: 14px;
	color: #666666;
    text-indent: 2em;
    line-height: 35px;*/
}
.text_word .text_bottom .word_left{
	/*width: 50%;
	overflow: hidden;
	float: left;*/
}
.text_word .text_bottom .word_right{
    /*float: left;
    width: 50%;
    text-align: center;*/
}
.text_word .text_bottom .word_right img{
	/*width: 363px;
	height: 522px;*/
}

