
#inner {
    margin: 0 auto;
    width: 100%;
}
.hot-event {
    padding: 0;
    position: relative;
    left: 0;
}
.hot-event .switch-tab {
    text-align: center;
    padding: 10px 0;
    position: relative;
    top: -40px;
    z-index: 2;
}
.hot-event .switch-tab a, .hot-event .switch-tab .current {
    margin: 0 2px;
    display: inline-block;
    width: 20px;
    height: 8px;
    background-image: url(../images/icon/icon-switch-tab.png);
    font: 0/0 arial;
    color: transparent;
    overflow: hidden;
    vertical-align: top;
}
.hot-event .switch-tab .current {
    background-image: url(../images/icon/icon-switch-tab.png);
    background-position: 0px 9px;
}

.hot-event .event-item {
    height: 470px;
}
.hot-event .event-item a {
    display: block;
    width: 730px;
    margin: 0 auto;
    padding-right: 18px;
}

.hide-clip {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    line-height: 0!important;
    width: 1px!important;
    overflow: hidden;
}
a {
    color: #4385a7;
}
a {
    text-decoration: none;
}
a .ico {
    cursor: pointer;
}
.ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    overflow: hidden;
}


/*当宽度小于1190px时*/
@media screen and (max-width:1190px){ 
    .bg_topnav{
        width: 1190px;
    }
    #index_logo{
        width: 1190px;
    }
    #index_nav{
        width: 1190px;
    }
    #inner{
        width: 1190px;
    }
    #mainContent{
        width: 1190px;
    }
    .i_service.clearfix{
        width: 1190px;
    }
    #footer{
        width: 1190px;
    }
}