/* CSS Document */


/* 全局设置 */
*{margin: 0;padding: 0;list-style: none; font-family:"微软雅黑"!important;}
img{border:0;}
body { color: #555; line-height: 1; background: #f5f5f5;}

body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,input,dl,dt,dd,ul,ol,li,input,textarea { font-family:"微软雅黑"!important;}
.gehang { width: 10px; height: 10px; overflow: hidden; text-indent: -9999px; clear: both; display: block; }

.block { display: block; }

.none { display: none; }

.clear { clear: both; }
.clear:after{    clear: :both;}
.clearfix {clear:both;}
.fl { float: left; }

.fr { float: right; }

.tl { text-align: left; }

.tr { text-align: right; }

.tc { text-align: center; }

.bold { font-weight: bold; }

a { text-decoration: none; cursor: pointer; color: #666; }
a:hover, a:focus { outline: none; color: #c81623; text-decoration: none; }
a, a * { cursor: pointer; }

/*布局*/
.header{width: 100%;background: #fff;height: 110px;border-bottom: 1px solid #ccc;position: relative;}
.header .content{width: 1200px;height: 110px;margin: 0 auto;}
.header .content .logo{width: 283px;height: 110px;border: 0;background: url("../images/logo.png") no-repeat;float: left;}
.header .content .nav{width: 450px;height: auto;display: block;float: left;margin-left: 100px;}
.header .content .nav li{width: 100px;height: 110px;line-height: 110px;text-align: center;display: block;float: left;}
.header .content ul.nav li a{
    font-size: 16px;
}

.header .content .nav li .on{color: #c81623;}
.header .content .search{width: 360px;padding-top: 36px; float: right;height: auto;}
.header .content .search .text{width: 260px;height: 36px;font-size: 12px;line-height: 36px;padding-left: 10px;color: #ccc;border: 1px solid #ccc;background: #fff;display: block;float: left;}
.header .content .search .button{display: block;float: left;width: 80px;height: 38px;font-size: 14px;line-height: 38px;text-align: center;color: #fff;background: #c81623;border: 0;}
.header .in_nav{position: absolute;width: 100%;height: auto;background: #fff;z-index: 10;top: 111px;
  -webkit-box-shadow: 0px 0px 3px #ccc ;  
  -moz-box-shadow: 0px 0px 3px#ccc ;  
  box-shadow: 0px 0px 3px#ccc ; display: none;}
.header .in_nav ul{width: 1200px;margin: 0 auto;position: relative;}
.header .in_nav ul li{display: block;float: left;width: 180px;height: 55px;text-align: center;line-height: 55px;font-size: 16px;color: #666;position: relative;}
.header .in_nav ul li img{display: inline-block;position: absolute;left: 18px;top: 15px;}
.header .in_nav_top{position: absolute;width: 26px;height: 11px;top: -11px;left: 520px;}

.main{width: 1200px;margin: 15px auto;background: #f5f5f5;}
.main .main_left{width: 840px;float: left;}
.main .nav_top{font-size: 12px;}
.main .main_left .new_list{width: 100%;margin-top: 10px;padding-bottom: 10px; background: #fff;border-radius: 10px;}
.main .main_left .new_list .news{width: 800px;height: 150px;margin: 20px;border: 0;border-bottom: 1px dashed #ccc;}

.main .main_left .new_list .first{padding-top: 20px;margin-top: 10px;}
.main .main_left .new_list .news:hover{
    background: #fafafa;
}
.main .main_left .position{font-size: 14px;color: #999;margin-bottom: 10px;}
.main .main_left .position a{color: #999;}
.main .main_left .position a:hover{color: #c81263;}
.news .news_pic{width: 220px;height: 140px;border-radius: 10px;border: 0;float: left;}
.news .news_content{width: 560px;min-height: 140px;border: 0;float: right;}
.news:hover .news_content h3 a .title{
    color: #c81623;
}

.news .news_content.no_pic{width: 100%;}
.news .news_content .trade{width: 80px;height: 26px;background: url("../images/news_title.png") no-repeat;display: block;float: left;font-size: 14px;font-weight: normal;color: #fff;line-height: 26px;text-align: center;}
.news .news_content .title{font-weight: normal;font-size: 16px;line-height: 26px;color: #333;padding-left: 5px;}
.news .news_content p{font-size: 12px;color: #999;margin: 10px 0;line-height: 18px;}
.news .news_content p.author {height: 32px;line-height: 32px;position: relative;}
.news .news_content p.author .head_pic{width: 32px;height: 32px;border-radius: 50%;border: 1px solid #ccc;}
.news .news_content p.author span{display: inline-block;height: 12px;line-height:12px;padding-left: 14px;position: absolute;top: 12px;}
.news .news_content p.author .time{width: 100px;background: url("../images/time.png") no-repeat left;left: 50px;}
.news .news_content p.author .count{width: 80px;background: url("../images/eye.png") no-repeat left;left: 200px;}
.news .news_content p.author .share{width: 12px;padding-left:0;background: url("../images/share.png") no-repeat left;left: 300px;}

.main .main_left .load_but{width: 840px;height: 50px;border-radius: 10px;background: #fff;text-align: center;line-height: 50px;margin-top: 10px;cursor: pointer;}
.main .main_left .load_but span{width: 100px;height: 50px;display: block;margin: 0 auto;background: url("../images/load.png") no-repeat 0 center;}

.main .list_right{width: 350px;float: right;}
.main .list_right .data_box{margin-bottom:15px;width: 100%;height: auto;border-radius: 10px;background: #fff;color: #666;    
    box-shadow: 0px 5px 3px 0px #e3e3e3;-moz-box-shadow:0px 5px 3px 0px #e3e3e3;/*firefox*/ 
-webkit-box-shadow:0px 5px 3px 0px #e3e3e3;}
.main .list_right .data_box .data_list li.title:hover{
    background: #fff;
}
.main .list_right .data_box .data_list li.title:hover a{
    color: #666;
}
.main .list_right .data_box .data_list li:hover{
    background: #fafafa;
    cursor: pointer;
}
.main .list_right .data_box .data_list li:hover a{
    color: #c81623;
}
.main .list_right .ad_box{width: 100%;height: 210px;border-radius: 10px;margin: 10px 0;}
.data_box .data_list li{height: 50px;line-height: 50px;font-size: 14px;margin: 0 10px;border-bottom: 1px dashed #ccc;width: 330px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.data_box li.title{margin: 0;width: 100%;border-bottom: 1px solid #ccc;}
.data_box li a:hover{
    color:#666;
}
.data_box li.title h3{font-size: 18px;font-weight: normal;float: left;margin-left: 10px;}
.data_box li.title span{display: inline-block;float: right;margin-right: 10px;width: 45px;height: 22px;line-height: 22px;border: 1px solid #ccc;text-align: center;border-radius: 20px;margin-top: 15px;}
.data_box li:last-child{border-bottom: 0;}
.data_box .addpic li{height: 100px;}
.data_box .addpic li .list_news_pic{width: 100px;height: 70px;float: left;margin: 10px 0;}
.data_box .addpic li .list_news_title{display: block;width: 220px;height: 70px;float: right;margin: 10px 0;}
.list_news_title p:first-child{line-height: 20px; height: 47px;}
.list_news_title p span{display: inline-block;height: 12px;line-height:12px;padding-left: 14px;}
.list_news_title p span.time{width: 100px;background: url("../images/time.png") no-repeat left;left: 50px;}
.list_news_title p span.count{width: 70px;background: url("../images/eye.png") no-repeat left;left: 200px;}
.data_box .addpic li.title{height: 50px;line-height: 50px; border-bottom: 1px solid #ccc;}

/*数据页面样式*/
.main .main_left .data_list{width: 100%;height: 330px;background: #fff;margin-top: 10px; border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px #ccc ;  
  -moz-box-shadow: 0px 0px 3px#ccc ;  
  box-shadow: 0px 0px 3px#ccc ;}
.main .main_left .data_list .data_title{width: 100%;border-bottom: 1px solid #ccc;height: 50px;line-height: 50px;}
.main .main_left .data_list .data_title h1{font-size: 20px;font-weight: normal;float: left;margin-left: 10px;}
.main .main_left .data_list .data_title span{display: inline-block;float: right;margin-right: 10px;width: 45px;height: 22px;line-height: 22px;border: 1px solid #ccc;text-align: center;border-radius: 20px;margin-top: 15px;font-size: 14px;}
.main .main_left .data_list .data_content{width: 100%;padding: 10px 15px;}
.data_content .hot_news{width: 300px;height: 240px;border-radius: 5px;position: relative;float: left;}
.data_content .hot_news img{width: 100%;height: 100%;}
.data_content .hot_news .hot_point{position: absolute;width: 100%;height:50px;line-height: 50px; background: #000; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; top: 190px;text-indent: 10px;}
.data_content .hot_news .hot_point a{color: #fff;}.data_content .hot_news .hot_point a:hover{color: #c81623;}
.data_content ul {display: block;width: 510px;height: 240px;float: left;padding: 0 10px;}
.data_content ul li{height: 37px;line-height: 37px;font-size: 14px;margin: 0 10px;border-bottom: 1px solid #ccc;}
.data_content ul li a{color: #333;}.data_content ul li a:hover{color: #c81623;}
.data_content ul li:first-child{height: 90px;}
.data_content ul li:first-child .list_hot{width: 100px;height: 70px;float: left;margin: 5px 0;}
.data_content ul li:first-child .list_hot_cont{display: block;width: 376px;height: 70px;float: right;margin: 5px 0;}
.list_hot_cont p:first-child{line-height: 20px;font-size: 14px;color: #333;}
.list_hot_cont p:last-child{line-height: 18px;font-size: 12px;color: #999;margin-top: 10px;}
.list_hot_cont p:last-child a{color: #999;}.list_hot_cont p:last-child a:hover{color: #c81623;}


/*详情页样式*/
.news_cont{padding: 0 20px;}
.news_cont p{line-height: 25px;padding:10px 0;}
.news_cont p.line{border-bottom:1px dashed #ccc;margin: 0 20px;}
.news_cont .jump{padding: 25px;}
.news_cont .jump p{padding: 0;line-height: 30px;font-size: 12px;}

/*轮播代码样式*/
#banner{width: 640px;height: 320px;position: relative;overflow: hidden;z-index: 1;border-radius: 10px;float:left;}
#banner .img{position: absolute;top: 0;left: 0;}
#banner .des{position: absolute;bottom: 0;left: 0px;z-index: 0;color: #fff;font-size: 20px; height: 60px;line-height: 60px; background: #000;
filter:alpha(opacity=50);  /*支持 IE 浏览器*/
-moz-opacity:0.50; /*支持 FireFox 浏览器*/
opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/}
#banner .des li{float: left;width: 640px;}
#banner .des li p{width: 400px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left: 20px;font-size: 18px;}
#banner .img li{float: left;position: relative;width: 640px;height: 320px;}
#banner .img li img{position: absolute;}
#banner .num{position: absolute;bottom: 0px;width: 100%;height: 60px;line-height: 70px; text-align: right;font-size: 0;z-index: 1;}
#banner .num li{width: 10px;height: 10px;background:#fff;display: block;border-radius: 100%;display: inline-block;margin: 0 5px;cursor: pointer;}
#banner .num li:last-child{margin-right: 25px;}
#banner .btn{display: none;}
#banner .btn span{display: block;width: 30px;height: 30px;border-radius:100%; background: rgba(0,0,0,0.5);color: #fff;font-size: 15px;line-height: 30px;text-align: center;cursor:pointer;}
#banner .btn span:hover{background: #fff;color: #000;}
#banner .btn .prev{position: absolute;left: 3%;top: 60%;margin-top: -50px;}
#banner .btn .next{position: absolute;right: 3%;top: 60%;margin-top: -50px;}
#banner .num .active{width: 30px;border-radius: 10px;}
#banner .hide{display: none;}

#banner_list{width: 190px;height: 320px;position: relative;overflow: hidden;float: right;}
#banner_list li{display: block;width: 190px;height: 100px;position: relative;margin-bottom: 10px;overflow: hidden;border-radius: 5px;}
#banner_list li img{position: absolute;}
#banner_list li h3{position: absolute;background-color: rgba(0,0,0,.3);color: #fff;bottom: 0;left: 0;right: 0;padding: 6px 8px;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#banner_list li h3 a{color: #fff;}
/*轮播代码样式完*/

/*观点右侧样式 strat*/
.clear:after{
    content: "";
    display: block;
    clear: both;
}
.news{
    margin-bottom:10px;
    padding: 20px 0;
}
.news_top{
    margin: 0 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}
.news_top_img{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    background: #fff;
    box-shadow: 1px;
    position: relative;
     -webkit-box-shadow:0 0 20px #e4e4e4;  
  -moz-box-shadow:0 020px #e4e4e4;  
  box-shadow:0 0 20px #e4e4e4;  
}
.news_top_img img{
    border:1px solid #e4e4e4;
    width: 90px;
    height:90px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%; 
    position: absolute;
    top:4px;
    left: 4px;
}
.news .news_top_right{
    float: left;
    padding-left: 20px;
}
.news .news_top_right h3{
    padding: 15px 0px;
}
.news .news_top_right p{
    line-height: 25px;
}
.news_mail{
    margin: 10px 20px;
}
.news_mail .mail_infor{
    display: block;
    text-align: center;
    border: 1px solid #ffdcdf;
    width: 100%;
    background: #faf0f1;
    padding: 10px 0;
}
/*分页样式*/
.page{
    text-align:center;
    padding: 20px 0px;
}
.page a{
    text-decoration: none;
}
.page .page_first,.page_up{
    padding: 10px 15px;
    border:1px solid #e4e4e4;
    height: 40px;
}
.page_up.on{
    padding: 10px;
    border:1px solid #c81623;
    color: #c81623;
}
.page .page_num{
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
}
.page .page_num.on,.page .page_num:hover{
    background: #c81623;
    color: #fff;
}
.page  .text_num{
    width: 40px;
    height: 40px;
    border: 1px solid #e4e4e4;
    text-align:center;
}
.page .button_num{
    background: #fff;
    width: 70px;
    height: 40px;
    border: 1px solid #e4e4e4;
}
/*分页样式 end*/
/*观点右侧样式 end*/
/*行情咨询 strat*/
.quotation_top{
    margin-top:20px;
}
.quotation_margin_top{
    margin-top: 20px !important;
}
.content_title{
    padding: 20px 0 10px;
}
.content_title .content_title_ul li{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 97px;
}
.content_title .content_title_ul li a.title_a{
    display: block;
    border: 1px solid #c81623;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #c81623;
    text-decoration: none;
    font-size: 14px;
}
.content_title .content_title_ul li a.on{
    background: #c81623;
    color:#fff;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
}
.content_title_ul li a.on .c-tip-arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: 40px;
}

.content_title_ul li a.on .c-tip-arrow em {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 8px solid transparent;
    border-style: dashed dashed solid;
}
.content_title_ul li a.on .c-tip-arrow em {
    border-top-color: #c81623;
}

/*行情咨询 end*/
/*搜索*/
.color_c{
    color: #c81623;
}
.search_result{
    padding: 15px 20px 10px;
    border-bottom: 1px solid #e4e4e4;
}
.search_top{
    margin: 20px 0 10px;

}
.search_top .serch_hot{
    line-height: 50px;
    font-weight: normal;
    border-bottom:1px solid #e4e4e4; 
    padding: 0 20px;
}
.search_top .search_word{
    padding: 15px 20px 30px;
}
.search_top .search_word a{
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 10px 10px 0px 0px;
    background: #f7f7f7;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
}
/*搜索 end*/
/*品牌企业*/
.marig-top{
    margin-top:10px; 
}
.data_box ul.enterprise{
    padding: 20px;
}
.data_box ul.enterprise li{
    float: left;
    width: 50%;
    outline: 1px solid #ccc;
}
.data_box ul.enterprise li a{
    display:block;
}
.data_box ul.enterprise li a img{
    width: 100%;
}
/*底部样式*/
.footer{
    background: #fff;
    padding-top: 20px;
    margin-top:20px;
}
.footer .div_flink {
    background: #fff;
    line-height: 50px;
    overflow: hidden;
    width: 1190px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.div_flink ul li.ul_tit {
    width: 155px;
    font-size: 16px;
    color: #666;
    text-align: center;
    float: left;

}
.div_flink .lin_lists {
    float: left;
    width: 1025px;
    line-height: 40px;
}
.div_flink ul li {
    float: left;
}
.div_flink ul li.li_txt a.li_a {
    padding: 0 15px;
    font-size: 14px;
    color: #b1b1b1;

}
.div_flink ul li.li_txt a.li_a:hover{
    color:#c81623;
}
.div_flink ul li.li_l {
    width: 2px;
    font-size: 14px;
    color: #e6e6e6;
    margin-left: 10px;
    margin-right: 10px;
}
.footer_ewm{
     padding: 35px 0;
    text-align: center;
    width: 420px;
    margin: 0 auto;
}
.footer_ewm .ewm{
    float: left;
    margin-right:20px; 
}
.footer_ewm .ewm .ewm_img img{
    width: 120px;
    height: 120px;
}
.footer_ewm .ewm b{
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    display: block;
}
.footer .fotter_bq{
    text-align: center;
    padding: 10px 0 30px 0px;
    color: #b1b1b1;
    line-height: 30px;
    font-size: 12px;
}
/*右侧导航*/
.floor_left_box {
    display: block;
    position: fixed;
    _position: absolute;
    z-index: 1001;
    right: 0;
    bottom: 100px;
    right: 5px;
    text-align: center;
}
.floor_left_box .show_div {
    position: relative;
}
.floor_left_box a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fafafa;
    line-height: 40px;
    margin-bottom: 1px;
}
.left_iconfont {
    font-family: "iconfont"!important;
    line-height: 17px;
    display: block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
}
.floor_left_box img {
    width: 40px;
    height: 40px;
}
.show_div .hover_div {
    position: absolute;
    width: 75px;
    right: 40px;
    top: 0;
    display: none;
}
.show_div:hover .hover_div{
    display: block;
}
.show_div:hover i.left_iconfont{
    display: none;
}
.show_div .hover_div em {
    border-style: solid;
    border-width: 7px;
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 14px;
    width: 0;
    border-color: transparent transparent transparent #c81623 !important;
    right: -14px;
}
.floor_left_box a .two_line {
    line-height: 17px;
}
.show_div .hover_div a.hove_a {
    width: 75px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #c81623;
    font-size: 12px;
    color: #fff;
    font-family: '微软雅黑';
}


/*分页*/
.pages_bar, .page {
    display: inline-block;
    font:normal 12px arial,'Microsoft YaHei','\u5b8b\u4f53';
    line-height: 30px;
}
.pages_bar a, .page a {
    cursor: pointer;
    margin: 0 3px;
    background: #f5f5f5;
    border: 1px #e5e5e5 solid;
    color: #8c8a8b;
    display: block;
    float: left;
    line-height: 28px;
    padding: 0px 10px;
}

.page{
text-align: center;
margin-top:  12px;
width: 100%;
}
.page a:link, .page a:visited, .page a:active {
padding: 0px 10px;
border: 1px #e5e5e5 solid;
background: #f5f5f5;
color: #8c8a8b;
}
.page a:hover {
padding: 0px 10px;
border: 1px #e5e5e5 solid;
background: #c91224;
color: #fff;
text-decoration: none;
}

.page a.current_page {
    background: #c91224;
    color: #fff;
}