
.offer_content{
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 1px #Ebebeb;
    /*filter: progid:DXImageTransform.Microsoft.Shado(Strength=3, Direction=135, Color='#Ebebeb'); */
    /*上面是IE的样式代码*/
    -webkit-box-shadow:0px 3px 10px 1px #Ebebeb;/*这是兼容谷歌浏览器*/
    -moz-box-shadow:0px 3px 10px 1px #Ebebeb; /*这是兼容火狐浏览器*/
    background: #fff;
    padding: 25px 0;
}
.offer_content .offer_left {
    float: left;
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 15px 80px;
    text-align: left;
    border-right: 1px solid #e7e7e7;
}
.offer_left ul li h3{
	font-size: 22px;
	color: #333333;
	margin-bottom: 22px;
}
.offer_left ul li {
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
.link_style {
	text-align: center; 
}
.link_style img{
	height: 20px;
	width: 22px;
}
.link_style h5{
	float: left;
	width: 200px;
	 margin: 15px 0;
     text-align: left;
}
.link_style span{
    line-height: 22px;
    margin-left: 8px;
    font-size: 12px;
}
.offer_content .offer_right{
    float: left;
    height: auto;
    overflow: hidden;
    margin: 15px 25px;
    text-align: left;
    margin-top: 60px;
}
.offer_right ul li b{
    color: #f35f23;
    font-size: 24px;
}
.offer_right ul li{
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
.offer_right ul li img{
    width: 18px;
    height: 12px;
    padding: 7px;
}
.buy_left {
    width: 450px;
    float: left;
    padding: 12px 0%;
    text-align: center;
}
.buy_left h4  {
    float: left;
    font-size: 12px;
    text-align: right;
    color: #757575;
    line-height: 25px;
}
.buy_left .counter {
    float: left;
    border: 1px solid #757575;
    border-radius: 3px;
    background: #fff;
}
.buy_left .counter input.init_peice {
    font-size: 12px;
    width: 62px;
    color: #ababab;
    border-right: 1px solid #ababab;
}
.buy_left .counter input {
    background: #fff;
    width: 22px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    border: none;
}
.buy_left .counter input.init_unit {
    padding: 0px;
}
.buy_btn a {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background: #bc1018;
    color: #fff;
    line-height: 36px;
    margin-top: 22px;
}
.buy_btn a i{
	font-size: 20px;
	font-weight: normal;
}
.buy_btn a b{
	font-weight: normal;
	line-height: 40px;
}
.buy_btn{
    text-align: left;
    width: 110px;
    clear: both;
}
.buy_btn a:hover{
	text-decoration: none;
}


.buy_left .counter {
    float: left;
    margin: 1px 8%;
    border: 1px solid #757575;
    border-radius: 3px;
    background: #fff;
}
.buy_left .counter input {
    background: #fff;
    width: 22px;
    height: 23px;
    font-size: 14px;
    text-align: center;
    border: none;
}
.counter #text_box {
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
    width: 30px;
}
.buy_btn.baoj a img {
    width: 22px;
    margin-top: 8px;
    margin-right: 3px;
}
.buy_btn.baoj{
	margin-top: 48px;
}
.buy_btn.baoj a{
    color:#fff;
}
.offer_right ul li .qianse{
	color: #A09D9D;

}