@charset "utf-8";

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.14 arial,\5b8b\4f53;color:#545454;outline:0;font-family: 微软雅黑;}
body{/*background:#fff;*/   }
a:link,a:visited{ color:#747474;}
a:hover{color:#e60012;}
.left{ float:left;}
.right{ float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;*zoom:1;}
.w1200{width:1200px;margin:0 auto;overflow:hidden;}
.relative{position:relative;}
.absolute{position:absolute;}
.red{color:red;}
.mt16{margin-top:16px;}
.ml10{margin-left:10px;}
.w460{width:460px;}
.green{color:green}

/*商品详情*/

        .content{width:1190px;margin: 0 auto;font-size: 12px;}
        .cont_1{
            background: #fff;
            padding: 10px 10px;
            margin: 20px 0;
            box-shadow: 0px 3px 10px 1px #Ebebeb;
    /*filter: progid:DXImageTransform.Microsoft.Shado(Strength=3, Direction=135, Color='#Ebebeb'); */
    /*上面是IE的样式代码*/
    -webkit-box-shadow:0px 3px 10px 1px #Ebebeb;/*这是兼容谷歌浏览器*/
    -moz-box-shadow:0px 3px 10px 1px #Ebebeb; /*这是兼容火狐浏览器*/
        }
        .cont_1 .tit{width: 100%;margin:10px 0;margin-top: 40px;}
        .cont_1 .tit i{float: left;}
        .cont_1 .tit span{margin-left: 10px;font-size: 18px;line-height: 26px;height: 26px;display: inline-block;}
        .cont_1 table,.cont_1 table tr,.cont_1 table th,.cont_1 table td{border:1px solid #e7e7e7;font-size:14px;padding:10px 0 10px 20px;color: #808080;}
        .cont_1 table tr th{width:1190px;height:25px;font-size: 16px;color:#666;background: #f5f6f7;}
        #divCenter{position: fixed; z-index: 9; display: none; background-color: #eee; width:auto; height:auto;left:500px;top:200px; margin:15px; border:1px solid #eee;}
        .cont_1 .pro_pic{width:25%;}        
        .cont_1 .pro_pic .red{color: #bc1018;}