body{margin:0;font:12px/1.8 Tahoma,Geneva,'\5B8B\4F53';color:#333;background:white;}
input,textarea,select{margin:0;padding:0;font-size:12px;outline:none;resize:none;}
html:root body,html:root input,html:root button,html:root textarea,html:root select{font-family:Tahoma,Geneva,'\5fae\8f6f\96c5\9ed1','\5B8B\4F53';}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color:#224892;outline:none;}
a:hover{text-decoration:underline;}
a img{border:none;}
i,em{font-style:normal;}
b{color:#F63;}
button{cursor:pointer;}
.wrap{
    background-color:#fff;
}
.register{
    width:712px;
    margin: 0 auto;
}
.register .reg_top{
    height: 45px;
    border-bottom: 3px solid #B9B5B5;
}
.register .register_top {
    width: 100%;
    margin: 0 auto;
}
.register .beinit{
    position: absolute;
    right: -138px;
    top: 20px;
    font-size: 12px;
}
.register .beinit a{
    color: #33a0d6;
}
.register .register_top .register_r,.register .register_top .register_l,.register .register_top .jg{
    float: left;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}
.register .register_top .register_r,.register .register_top .register_l{
    width: 50%;
    cursor:pointer; 
}
.register .register_r img {
    position: absolute;
    top: 46px;
    right: 155px;
}
.register .register_top .jg{
    display: block;
    width: 20%;
    font-size: 20px;
}
.register .register_top .border_bom{
    border-bottom:3px solid #F70404;
    /*background: url(../images/password/sanj.png) no-repeat 126px 45px;*/
}
.reg_zc.register_l img{
    position: absolute;
    top: 46px;
    left: 160px;
}

/*注册内容*/
.reg_cot{
    margin: 30px auto;
}
.reg_cot .cot{
    padding: 6px 0px;
    width: 712px;
}
.reg_cot .cot .show_eye{
    width: 15px;
    height: 10px;
    margin-left: -28px;
    margin-right: 13px;
}
.reg_cot .cot .jiaoyma{
    border: 1px solid #D8D5D5;
    background: #f2f2f2;
    font-size: 12px;
    padding: 9px 6px 8px 6px;
    color: #666666;
}

.reg_cot .cot .cot_tit{
    display: block;
    float: left;
    text-align: right;
    padding: 0 10px;
    width: 31%;
    font-size: 14px;
    margin-top: 4px;
}
.reg_cot .cot .cot_tit i{
    color: red;
}
.reg_cot .cot .text{
    width: 200px;
    height: 20px;
    line-height: 15px;
    padding: 5px;
    border: 1px solid #D8D5D5;
}
.reg_cot .cot .zc{
    display: block;
    position: relative;
    left: 24%;
}

.reg_cot .cot .but {
    width: 132px;
    height: 41px;
    background-color: #d61515;
    border: 0px;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    width: 211px;
    margin-left: 80px;
}
.form-agreen{
    margin-left: 203px;
}
.form-agreen a{
    color: #0088cc;
}
/*企业注册*/
.qy_reg{
    display: none;
}
.reg_cot .cot .select{
    height: 30px;
    border: 1px solid #D8D5D5;
}
.reg_cot .cot .sel_d{
    width: 210px;
}
.reg_cot .cot .tit_zw{
    padding: 0 5px;
    font-size: 15px;
}

.regis_reg_total {border-width:0px;color:red;width: 360px;font-size: 12px; cursor: default;}

.Validform_wrong{color:red;}
.reg_cot .cot select{
    height: 31px;
    width: 65px;
    border: 1px solid #D8D5D5;
}
.background_img.bottom{
    background: url(../images/password/bottom_img.png) no-repeat center;
    width: 100%;
    height: 300px;
    z-index: -1;
    position: absolute;
    bottom: 58px;
}
.w1200.secondaryend{
    position: absolute;
    bottom: 0px;
    width: 100%;
}