/*首页中心内容*/

p{
    padding: 0;
    margin: 0;
}
.center_top{
    background: #fff;
    margin: 10px 0;
}
.center_top .gr_info{
    float: left;
    width: 595px;
    margin: 30px 0px;
    padding: 0 20px;
}
.gr_info .user_img{
    width: 115px;
    float: left;
    background: url("../images/icon/icon_txbj.jpg") no-repeat center;
    height: 115px;
    position: relative
}
.gr_info .user_img img{
    width: 60%;
    position: absolute;
    left: 22px;
    top: 22px;
}
.gr_info .user_info{
    float: left;
    padding-left: 30px;
}
.gr_info .user_info b{
    font-size: 20px;
    padding-right: 10px;
}
.user_dj{
    line-height: 24px;
    padding: 30px 0 15px 0px;
}
.user_dj .us_t,.us_im1,.us_jd,.us_im2,.us_ts{
    float: left;
}
.user_dj .us_jd{
    position: relative;
    width: 100px;
    height: 24px;
}
.user_dj .us_jd .tu1{
   position: absolute;
   top: 0px;
   width: 100%;
   height: 24px; 
   background:url('../images/icon/icon_jd1.jpg');
   z-index: 1;
}
.user_dj .us_jd .tu2{
   position: absolute;
   top: 0px;
   width: 20%;
   height: 24px;
   background:url('../images/icon/icon_jd2.jpg'); 
   z-index: 2;
}
.us_im1,.us_im2{
    padding: 0 10px;
}

.user_dj .us_ts{
    color: #d3d3d3;
}
.us_cz .cz_left{
    float: left;
    padding: 0 5px;
    line-height: 24px;
}
.us_cz .cz_left .us_font{
    font-family: '微软雅黑';
}
.us_cz a.qrz{
    color: #be7070;
}
.us_cz .cz_fgx{
    width: 1px;
    height: 24px;
    background: #e6e6e6;
}

.center_top .per_money{
    float: left;
    width: 554px;
    text-align: center;
    margin: 30px 0;
    border-left: 1px solid #e6e6e6;
}
.per_money .mony_size{
    padding: 10px 0 15px 0;
    font-size: 25px;
    color: #b14949;
    font-weight: 700;
}
.per_money .mony_jd{
    background: #dbdbdb;
    width: 200px;
    height: 15px;
    margin: 0 auto;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.per_money .mony_jd .ky_zj{
    background: #f7c305;
    width: 15%;
    height: 15px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.per_money .zjbz{
    width: 180px;
    margin: 0 auto;
    padding: 10px 0px;
}
.per_money .zjbz .zj{
    float: left;
    line-height: 25px;
}
.per_money .zjbz .kyzj{
    width: 15px;
    height: 15px;
    background: #f7c305;
    margin:5px;
    float: left;
}
.per_money .zjbz .djzj{
    width: 15px;
    height: 15px;
    background: #dbdbdb;
    margin:5px;
    float: left;
}
.per_money .zj_an{
    line-height: 50px;
}
.per_money .zj_an .cz_a{
    padding: 8px 15px;
    background: #d61515;
    color: #fff;
    margin-right: 10px;
}
.per_money .zj_an .tx_a{
    padding: 8px 15px;
    background: #dbdbdb;
}
.center .module{
    background: #fff;
    margin: 10px 0px;
    padding: 10px 20px;
}
.module .title{
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.module  .tit_a{
    padding: 5px;
    border-bottom: 2px solid #d61515;
    text-decoration: none;
}
.content{
    padding:0px 15px;
}
.center .module .con_ul{
    width: 100%;
    display: block;

}
.center .module .con_ul:hover{
    background: #fafafa;
}
.center .module .con_ul li{
    float: left;
    line-height: 100px;
    border-bottom: 1px solid #e6e6e6;
}
.con_ul li .li_p{
    padding: 25px 0;
}
.con_ul li .li_p p{
    height: 25px;
    line-height: 25px;
}
.center .module .con_ul li.con_time{
    float: left;
    width: 17%;
    text-align: center;
}
.center .module .con_ul li.con_ron{
    width: 32%;
}
.center .module .con_ul li.con_li{
    width: 17%;
    text-align:center;
}
.center .module .con_ul li .deal_a{
    border: 1px solid #e6e6e6;
    padding: 5px 8px;
}
.con_li .col{
    color: #d61515;
}
.colbe{
    color: #bebebe;
}
.colbe:hover{
    color: #bebebe !important;
}
.con_li a:hover{
 color: #d61515;
text-decoration: none;
}
.fon_falm{
    font-family: '微软雅黑';
}
.no_cont{
    text-align: center;
}
/*首页中心内容 end*/