/*左侧基本信息栏*/
.left_c{
    float: left;
    width: 200px;
    background: #fff;
    margin: 10px 20px 10px 0px;
    padding-bottom: 20px;
}
.left_c .user_img {
    width: 115px;
    float: left;
    background: url("../images/icon/icon_txbj.jpg") no-repeat center;
    height: 115px;
    position: relative;
    left: 44px;
    top: 10px;
}
.left_c .user_img img {
    width: 60%;
    position: absolute;
    left: 22px;
    top: 22px;
}
.left_c .c_user_name{
	text-align: center;
    margin-top: 125px;
}
.left_c .infor_c{
	text-align: center;
	padding: 15px 0;
}
.left_c .nav_left .ul1{
	    width: 180px;
    margin: 0 auto;
}
.left_c .ul1 li{
	text-align: center;
	position: relative;
	cursor: pointer;
}
.left_c .ul1 li.title_h3{
	background: #d61515;
    border-radius: 5px;
}
.left_c .ul1 li.ul1_titles{
    border-bottom: 1px dashed #e6e6e6;
    line-height: 60px;
}
.left_c .ul1 li.title_h3 h3{
    color: #fff;
    padding: 8px 0px;
    margin: 15px 0px 0px; 
}
.left_c .ul1 li .title_ul1{
	font-size: 18px;
}
.left_c .ul1 li i.up_right{
	position: absolute;
	right: 10px;
	color: #afafaf;
	top:20px;

}
.left_c .ul1 .ul2 li{
	padding-left: 5px;
	line-height: 35px;

}
.left_c .ul1 .ul2 li a.hover{
	color: #d61515
}
.left_c .ul1 .ul2 li a:hover{
	color: #d61515
}
/*个人中心主要信息*/
.right_c{
	float: left;
        margin: 0 0px 10px 20px;
        width: 81%;
        border: 1px solid #c0c0c0;
        background: #fff;
}
.right_c .r_c_title{
	height: 35px;
	line-height: 38px;
	border-bottom: 2px solid #e6e6e6;
	padding-top:10px 
}
.right_c .r_c_title .tit_span{
	padding: 6px 20px;
	border-bottom: 2px solid #d61515;
        font-size: 16px;
	font-family: '微软雅黑';

}
.right_c a:hover{
	text-decoration: none;
}
.rc_bate{
	margin: 40px;
}
.rc_bate .bate-input .zdbz{
	font-style: inherit;
	color: #d61515;
}
.rc_bate .bate-input .span_in_tit{
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	height: 50px;
	line-height: 50px;
	padding-right: 10px;
}
.rc_bate .bate-input .input_span{
	display: block;
	float: left;
	text-align: right;
	line-height: 49px;
	position: relative;
}
.rc_bate .bate-input .input_span .wbk{
	height: 36px;
	width: 260px;
	border: 1px solid #e6e6e6;
	padding:0 10px;
}
.rc_bate .bate-input .but_div{
	margin: 40px 0px 0px 160px;
}
.rc_bate .bate-input .but_div .but_in{
	background: #b61515;
	color: #fff;
	border: 1px solid #b61515;
            display: block;
            width: 120px;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            text-align: center;

}
.rc_bate .jd_img{
	position: relative;
	left: 40px;
    padding-right: 320px;
}
.rc_bate .jd_ts{
	line-height: 26px;
    padding-left: 40px;
    margin: 20px 0;
    font-size: 14px;
    color: #999;
}
.mycode {
    display: inline-block;
    width: 90px;
    height: 40px;
    vertical-align: middle;
    border: solid #e6e6e6 1px;
    box-shadow: #000000 inset 0px 0px 2px;
}
#btnSendCode{
	border: 0px;
    height: 42px;
    width: 90px;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
}
/*上传图片按钮*/
.input_span .flie_a{
    display: block;
    height: 36px;
    line-height: 36px;
    width: 260px;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    text-align: center;
    margin: 7px 0;
    background: #f2f2f2;
}
.file{
	position: absolute;
    top: 6px;
    left: 0px;
    opacity: 0;
    height: 40px;
}
.input_span .sfz_img{
	border: 1px solid #e6e6e6;
    width: 280px;
    height: 150px;
}
.input_span .sfz_img img{
	width: 280px;
    height: 150px;
}
.cksl{
	float: left;
    line-height: 50px;
    padding-left: 150px;
    position: relative;
}
.cksl a.ck_span,.cksl a.ck_span2,.cksl a.ck_span3{
	color: #90cbe9;
    font-weight: 600;
    font-size: 14px;
    display: block;
}

/*实例图样式*/
.cksl .cksl_bk{
	display: none;
    position: absolute;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    line-height: 25px;
    font-size: 14px;
    top: -60px;
    left: 100px;
    box-shadow: 1px 1px 2px 3px #f3f3f3;
   	-webkit-box-shadow:1px 1px 2px 3px #f3f3f3; /*-----这是兼容谷歌浏览器*/
	-moz-box-shadow:1px 1px 2px 3px #f3f3f3; /*--------这是兼容火狐浏览器*/
}
.cksl .cksl_bk2 ,.cksl .cksl_bk3{
	width: 320px;
	display: none;
    position: absolute;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    line-height: 25px;
    font-size: 14px;
    top: -10px;
    left: 100px;
    box-shadow: 1px 1px 2px 3px #f3f3f3;
   	-webkit-box-shadow:1px 1px 2px 3px #f3f3f3; /*-----这是兼容谷歌浏览器*/
	-moz-box-shadow:1px 1px 2px 3px #f3f3f3; /*--------这是兼容火狐浏览器*/
    background: #fff;
    z-index: 999;
}
.cksl .cksl_img img{
	width: 300px;
	height: 170px;
}
.cksl .cksl_bk .c-tip-arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: 70px;
    left: -24px;
}
.cksl .cksl_bk2 .c-tip-arrow,.cksl .cksl_bk3 .c-tip-arrow{
	width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: 20px;
    left: -24px;
}
.c-tip-arrow em, .c-tip-arrow ins {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 12px solid transparent;
    border-style: dashed  dashed  dashed solid;
}
.c-tip-arrow em {
    border-right-color: #e6e6e6;
}
.c-tip-arrow ins {
    border-right-color: #fff;
    left: 2px;
}
.cksl .cksl_title,.cksl .cksl_title2{
	padding: 5px 5px 0;
    margin: 0; 
}
.cksl .cksl_ts{
	padding: 10px 5px;
    line-height: 20px; 
    color: #999;
}
/*申诉成功*/
.suc_s{
	width: 550px;
	margin-top:50px;
}
.suc_s .center_h4{
	text-align: center;
}
.suc_s p{
	padding-left: 50px;
	line-height: 25px;
}