@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {margin: 0;padding: 0;}
header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {display: block;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th {text-align: left;font-weight: normal;}
html, body, fieldset, img, iframe, abbr {border: 0;}
i, cite, em, var, address, dfn { font-style: normal;}
[hidefocus], summary {outline: 0;}
li {list-style: none;}
h1, h2, h3, h4, h5, h6, small {font-size: 100%;}
pre, code, kbd, samp {font-family: inherit;}
q:before, q:after {content: none;}
textarea {overflow: auto; resize: none;}
label, summary {cursor: default;}
a, button {cursor: pointer;}
h1, h2, h3, h4, h5, h6, strong { font-weight: bold;}
del, ins, u, s, a, a:hover {text-decoration: none;}
body, textarea, input, button, select, keygen, legend { font: 12px/1.14 "微软雅黑",\5b8b\4f53;color: #545454;outline: 0;}
b {font-weight:normal;}
a, a:focus { outline: none;}
a:hover,.hot li a:hover{color: #c60a19}
a:link, a:visited {color: #747474;}
.none{display:none;}
.left {float: left;}
.block {display:block;}
.right {float: right;}
.clearfix:after {content: "."; display: block;height: 0;clear: both;visibility: hidden;*zoom: 1;}
.w1200 {width: 1200px;margin: 0 auto; overflow: hidden;}
.relative {position: relative;}
.absolute {position: absolute;}
.overflow{overflow: hidden;}
body{min-width: 1200px;}
.tcenter{text-align:center;}

.top{background:#3e3b38;height:33px;line-height:33px;color:#cccccc;}
.left{float:left;}
.right{float:right;}
.yellow{color:#fff436;}
.top .right *{float:left;}
.top i{border-left:1px solid #cccccc;height:12px; position:relative;margin:11px 20px 0px 20px;}

.seach{padding:24px 0px 14px 0px;}
.seach h1{background:url("../image/log.jpg") no-repeat;width:404px;height:68px;float:left;margin-right:78px;}
.seach_content{width:500px;float:left;}
.seach_content div{border:3px solid #c60a19;border-radius:4px;background:#c60a19;overflow: hidden}
.seach_content div *{height:36px;line-height:34px;float:left}
.seach_content input{border:0px;font-size:14px;}
.seach_content input[type="text"]{padding-left:18px;width:400px;background:#fff;font-family: "宋体"}
.seach_content input[type="button"]{width:74px;color:#fff;font-size:18px;background:#c60a19;cursor: pointer;}
.hot{margin-top:12px;font-family: "宋体"}
.hot li{color:#333333;float:left;padding:0px 8px 0px 16px}
.hot li a{color:#8c8c8c;}
.seach img{float:left;margin-left:30px;}

.nav{height:36px;line-height:36px;background:#c60a19;}
.nav li{width:140px; color:#fff;font-size:16px;text-align: center;float:left;}
.nav li.first{background:#b01313;}
.nav .active{color:#fff436}
.nav li.date{color:#fff436;background:url("../image/date.jpg") no-repeat 30px -4px ;padding-left:60px;font-size:12px;float:right;border-left:1px solid  #fff;height:18px;line-height:20px;margin-top:9px;}

.banner_relative{position:relative;overflow:hidden;height:620px;}
.banner_lunbo li{float:left;z-index:8;width:100%;opacity:0;}
.banner_lunbo img{width:1920px;position:absolute;left:50%;margin-left:-960px;}
.sj{height:212px;position:absolute;bottom:0px;z-index:100;overflow: hidden;width:100%}
.sj_btn{width:770px;margin: 0 auto;}
.sj_btn a{display:block;float:left;width:130px;height:48px;background:#d90038;color:#fff;border-radius:24px;font-size:16px;line-height:48px;text-align:center;font-weight:bolder;margin-right:24px;}
.sj_btn a.btn_2{background:#fff;color:#d90038;border:1px solid #d90038;}
.sj_content{height:102px;background:#000;opacity:.3;filter:alpha(opacity=30);}
.sj .info{position:absolute;bottom:14px;left:50%;width:830px;margin-left:-415px;}
.sj .sj_content{position:absolute;bottom:0px;width:100%;}
.sj .info li{float:left;color:#fff;width:33.3%;}
.sj .info li *{display:block;}
.sj .info li h4{float:left;font-size:48px;position:relative;top:-12px;margin-right:3px;}
.sj .info li span{float:left;font-size:14px;font-weight:bolder;}

.blue{background:#37a0ba}

.spd{width:880px;margin:0 auto;}
.spd .content_1 {text-align:center;}
.spd .content_2 li{float:left;}
.spd .content_1 h5{font-size:42px;}
.spd .content_1 h6{font-size:18px;margin-bottom:20px;color:#666666;margin-top:38px;}
.spd .content_1 p{font-size:14px;color:#666666}
.spd .content_2{overflow:hidden;margin-top:80px;}
.spd .content_2 li{padding-top:10px;padding-bottom:24px;}
.spd .content_2  h5{font-size:36px;color:#5c5c5c;margin-bottom:10px;}
.spd .content_2  h6{font-size:18px;color:#5c5c5c;}
.zqk{background: url("../images/zqk.png") no-repeat;padding-left:120px;margin-right:20px;}
.txd{background: url("../images/txd.jpg") no-repeat;padding-left:112px;margin-right:20px;}
.aqg{background: url("../images/l_aqg.jpg") no-repeat;padding-left:112px;}

.spdlc{width:880px;margin:0 auto;color:#fff;}
.spdlc li{float:left;width:76px;font-size:18px;font-weight:bolder;text-align:center;}
.scpj{background: url('../images/lc_icon1.jpg') no-repeat center top;padding-top:70px;}
.fksh{background: url('../images/lc_icon2.png') no-repeat center top;padding-top:70px;}
.stlv{background: url('../images/lc_icon3.png') no-repeat center top;padding-top:70px;}
.pjbs{background: url('../images/lc_icon4.jpg') no-repeat center top;padding-top:70px;}
.tiexian{background: url('../images/lc_icon5.jpg') no-repeat center top;padding-top:70px;}
.jiantou{background: url('../images/lc_icon6.jpg') no-repeat center top;padding-top:70px; margin-left:40px;margin-right:9px;}

.spdlc a{font-size:24px;color:#fff;width:244px;height:60px;background:#c60a19;border-radius:36px;display:block;line-height:60px;margin:0 auto;text-align: center;margin-top:42px;}

.hpz{width:880px;margin:0 auto;text-align: center;}
.hpz  h5{font-size:42px;color:#fff;}
.hpz h6{font-size:18px;margin-bottom:20px;color:#fff;margin-top:38px;}
.hpz p{font-size:14px;color:#fff;}


.pjtx h6{font-size:18px;color:#37a0ba;margin-bottom:80px;}
.pjtx .content_1{margin:0 auto;margin-bottom:60px;width:900px;}
.pjtx .content_1 li{margin-right:60px;float:left;}
.pjtx .content_1 li.bj{margin-right:0px;}
.pjtx .content_1 span{float:left;color:#37a0ba;font-size:48px;line-height:42px;font-weight:bolder;}
.pjtx .content_1 span i{display:block;font-size:20px;font-weight:bolder;margin-left:14px;margin-bottom:6px;line-height:22px;text-align:left;}

.f9bg{background:#f9f9f9;}
.pjtx{width:1060px;text-align:center;}
.lct2  li{float:left;font-size:16px;width:68px;text-align:center;font-weight:bolder;color:#37a0ba;}
.scpj2{background: url('../images/lc2_icon1.jpg') no-repeat center top;padding-top:60px;}
.mfbj2{background: url('../images/lc2_icon2.jpg') no-repeat center top;padding-top:60px;}
.fqjy2{background: url('../images/lc2_icon3.jpg') no-repeat center top;padding-top:60px;}
.mffk2{background: url('../images/lc2_icon4.jpg') no-repeat center top;padding-top:60px;}
.qrbs2{background: url('../images/lc2_icon5.jpg') no-repeat center top;padding-top:60px;}
.qrsp2{background: url('../images/lc2_icon6.png') no-repeat center top;padding-top:60px;}
.yhfk2{background: url('../images/lc2_icon7.png') no-repeat center top;padding-top:60px;}
.jiantou2{background: url('../images/lc2_icon8.jpg') 20px 20px no-repeat;padding-top:60px;margin-right:20px;}

.pjtx a{font-size:24px;color:#fff;width:244px;height:60px;background:#c60a19;border-radius:36px;display:block;line-height:60px;margin:0 auto;text-align: center;margin-top:80px;}




.zzsp{width:1200px;text-align:center;margin:0 auto;color:#fff;padding-top:96px;}

.zzsp h6{font-size:18px;margin-bottom:80px;}
.zzsp .content_1{margin:0 auto;margin-bottom:60px;width:1200px;}
.zzsp .content_1 li{margin-right:42px;float:left;}
.zzsp .content_1 li.bj{margin-right:0px;}
.zzsp .content_1 span{float:left;font-size:48px;line-height:42px;font-weight:bolder;}
.zzsp .content_1 span i{display:block;font-size:20px;font-weight:bolder;margin-left:14px;margin-bottom:6px;line-height:22px;text-align:left;}

.lct3  li{float:left;font-size:16px;width:80px;text-align:center;font-weight:bolder;color:#fff;}
.scpj3{background: url('../images/l_icon_sc.png') no-repeat center top;padding-top:60px;}
.mfbj3{background: url('../images/icon_user.png') no-repeat center top;padding-top:60px;}
.hxlx3{background: url('../images/l_icon_lianxi.png') no-repeat center top;padding-top:60px;}
.zxjy3{background: url('../images/l_icon_jiaoyi.png') no-repeat center top;padding-top:60px;}
.jycg3{background: url('../images/l_icon_jy.png') no-repeat center top;padding-top:60px;}
.jiantou3{background: url('../images/l_icon_left.png') 20px 20px no-repeat ;padding-top:60px;margin-right:24px;}

.lct3{width:890px;margin:0 auto;margin-top:100px;}
.lc3_bg{background:url("../images/lc3_bg.png") center center;width:100%;height: 598px;}

