@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-style:normal;}
body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4
{margin:0;padding:0;font-style:normal;font:100% "Hiragino Sans GB W3",Arial, Helvetica,sans-serif;}

.submit{ width:1190px; margin:0 auto; height:auto; overflow:hidden;}
.submit_word{ margin:20px auto; width:800px; height:auto; overflow:hidden;}
.submit_word span {
    width: 200px;
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #747474;
}
.submit_photo{ margin:20px auto; width:830px; height:auto; overflow:hidden;}
.submit_photo img{ float:left;}
.order_form{
    width: 1190px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 120px auto;
}
.order_form h2 {
    display: block;
    padding: 8px 25px;
    border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
    width: 82px;
    font-size: 13px;
    border-top: 3px solid #c81623;
    border-bottom: 1px solid #fff;
	position: relative;
    top: 1px;
}
.bezel{
	padding:30px 0px;
    width: 1188px;
    border: 1px solid #c4c4c4;
    height: auto;
    overflow: hidden;
}
.wor_list{ height:42px; background:#f2f2f2; font-size:12px; color:#333333; line-height:42px; width:1188px;}
.wor_list input {
    width: 16px;
    height: 16px;
    margin: 13px 5px 0 20px;
    float: left;
}
.wor_list .operation{
    float: right;
    margin-right: 20px;
}
.wor_list .amount{
    float: right;
    margin-right: 100px;
}
.wor_list .price{
    float: right;
    margin-right: 90px;
}
.wor_list span{ float:left;}
.wor_list .goods{margin-left: 260px;}
.wor_list .number{margin-left: 270px;}

.module {
    padding: 20px;
    float: left;
    width: 1188px;
	border-bottom:#dddddd 1px solid;
}
.module input {
    width: 16px;
	float:left;
    height: 16px;
    margin: 20px 10px 0 0;
}
.module img{ float:left; width:80px; height:80px; margin-right:15px;}
.module_word{
    width: 415px;
    float: left;
}
.module_word h5{
	color:#333333;
	font-weight:normal;
    margin-bottom: 10px;
}
.module_word p{ color:#666;}

.module .danjia {
	text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
    display: block;
    width: 120px;
    height: 35px;
    float: left;
    margin: 0 10px 0 180px;
}
.module .jine i {
    font-size: 15px;
    font-style: normal;
    color: #ff0000;
    width: 105px;
    display: block;
    float: left;
    text-align: center;
    margin-left: 22px;
}
.module .shanchu{
    width: 18px;
    height: 18px;
    margin: 0 3px 0 58px;
}
.module .delet{
    font-style: normal;
    color: #3399ee;
    font-size: 13px;
}
.module a:hover{text-decoration:none;}
.kogbai{
    clear: both;
    height: 15px;
}
.qujies{ 
    background: #f2f2f2;
    width: 1188px;
    height: 42px;
    clear: both;
	line-height:42px;
	float:left;
}
.qujies .saunchu{
    margin: 13px 3px 0 15px;
    width: 18px;
    height: 18px;
}
.qujies .goon{
    margin: 13px 3px 0 15px;
    width: 18px;
    height: 18px;
}
.qujies a:hover{text-decoration:none;}
.qujies .juhuag{ color:#ff7700;}
.qujies i{ font-style:normal; color:#3399ee;}
.qujies .jijian{
    color: red;
    font-size: 14px;
}
.yitotal{
    margin-left: 588px;
}
.yitotal b{
    font-size: 14px;
    color: red;
}
.accounts_to{
    display: block;
    float: right;
    height: 42px;
    width: 130px;
    line-height: 42px;
    text-align: center;
    background: #c81623;
    color: #fff;
    font-size: 16px;
}
.qujies a:hover{ color:#FFF;}
/*购置数量加减*/


ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
q, blockquote {
	quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}
a img {
	border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block
}
.spinner-sprite, .spinner .decrease, .spinner .decrease[disabled], .spinner .increase, .spinner .value, .spinner .value.passive {
	background: url('../images/submit/spinner.png') no-repeat
}
.spinner {
	left: 42px;
    position: relative;
	float: left;
	height: 25px;
	width: 71px;
	overflow: hidden;
*zoom:1;
	-webkit-box-shadow: 0 3px 3px -4px #aaa;
	-moz-box-shadow: 0 3px 3px -4px #aaa;
	box-shadow: 0 3px 3px -4px #aaa
}
.spinner button, .spinner .value {
	text-align: center;
	display: block;
	float: left;
	height: 100%;
	line-height: 25px;
	margin: 0
}
.spinner button {
	border: none;
	width: 23px;
	color: #e5312a;
	font: 22px Arial bold;
	padding: 0;
	outline: none
}
.spinner .decrease {
	background-position: 0 -50px;
	cursor: pointer;
	text-indent: -10000px
}
.spinner .decrease[disabled] {
	background-position: 0 -75px;
	cursor: default
}
.spinner .increase {
	background-position: 0 0;
	cursor: pointer;
	text-indent: -10000px
}
.spinner .value {
	background-position: 0 -100px;
	width: 24px;
	height: 27px;
	border: none;
	color: #ffffff;
	padding: 0px
}
.spinner .value.passive {
	background-position: 0 -25px;
	color: #919191
}
.spinner .error, .spinner .invalid {
	background: #aa0000
}



/*订单二*/

.checkim h2 {
    border-bottom: 2px solid #C00;
    width: 1190px;
    padding-bottom: 15px;
    font-size: 16px;
}
.tishi{
    margin: 20px 0 20px 80px;
    font-size: 13px;
}
.shadree b{
    float: left;
    display: block;
    width: 30px;
}
.shadree h3 {
    border: 1px solid #6aa862;
    margin: 0 0 0 40px;
    display: block;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    height: auto;
    overflow: hidden;
}
 .shadree h3 input{
    position: relative;
    top: 3px;
    margin: 0 3px 0 12px;
}
.shadree h3 i{
    float: right;
    font-style: normal;
    color: #80808f;
    margin-right: 20px;
}
.shadree h3 .blue{ color:#0066cc;}
.shadree h3 a:hover {
    text-decoration: underline;
    color: #cc0000;
}

.submit hr{margin:20px auto;}

.zhiffs b {
    float: left;
    display: block;
    width: 30px;
    margin-top: 10px;
}
.addwidth {
    margin: 0px 0 0 40px;
    display: block;
    padding: 8px 8px 8px 8px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
   
    line-height: 40px;
}
.add_width{
	height: auto;
    overflow: hidden;}
 .zhiffs h3 input{
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.zhif_type {
    clear: both;
    display: block;
    border: 1px solid rgb(181, 191, 180);
    padding: 16px 25px 2px 12px;
    bottom: 22px;
    height: auto;
    overflow: auto;
}
.zhif_type h5 {
    color: #7B7070;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
}
.zhif_type ul li {
    float: left;
    margin-right: 30px;
}
.zhif_type ul li img{
    width: 190px;
    height: 36px;
    border: 1px solid #b1bfad;
}
.zhif_type ul li p    {
    margin-left: 22px;
    color: #827D74;
}


.zhiffs h3 .zhifb{ width:190px; height:36px; border:1px solid #69a660;}
.xuanzzf {
    cursor: pointer;
    border: 1px solid #ddd;
    color: #0066cc;
    width: 125px;
    height: 36px;
    line-height: 36px;
    padding: 0px 0px 0px 11px;
    position: relative;
    bottom: 40px;
    left: 280px;
}

.styleqita {
    background-image: url(../images/order/bt_sj.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: right;
    background-position: 0px 11px;
}
.qitastyle {
   
    background-position: 0px -48px;
}


.fapim b{
    float: left;
    display: block;
    width: 30px;
}
.fapim h3 {
    margin: 0 0 0 40px;
    display: block;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    height: auto;
    overflow: hidden;
}
 .fapim h3 input{
    position: relative;
    top: 3px;
    margin: 0 3px 0 12px;
}

.qingorder b{
    float: left;
    display: block;
}
.qingorder h3 {
    margin: 0 0 0 40px;
    display: block;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    height: auto;
    overflow: hidden;
}
.fanhgo{
    font-size: 12px;
    padding: 2px 5px;
    color: #8a8a8a;
    position: relative;
    float: right;
    top: -10px;
    right: 15px;
}
.clrarorder{ clear:both;}
.clrarorder h2{
	text-align: center;
    display: block;
    padding: 8px 25px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    width: 82px;
    font-size: 13px;
    border-top: 3px solid #c81623;
    border-bottom: 1px solid #fff;
    position: relative;
    top: 1px;
}
.bezel_clear {
    padding: 20px 0 0 0;
    width: 1140px;
    border: 1px solid #c4c4c4;
    height: auto;
    overflow: hidden;
	border-bottom:none;
}
.wor_clear{
    height: 42px;
    background: #f2f2f2;
    font-size: 12px;
    color: #333333;
    line-height: 42px;
    width: 1188px;
}
.module_clear {
    padding: 20px;
    float: left;
    width: 1188px;
}

.wor_clear .goods {
    margin-left: 260px;
}
.wor_clear .number {
    margin-left: 270px;
}
.wor_clear .amount {
    float: right;
    margin-right: 100px;
}
.wor_clear .price {
    float: right;
    margin-right: 90px;
}
.clear_word {
    width: 410px;
    float: left;
    height: auto;
    overflow: hidden;
}
.module_clear img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.module_clear h5 {
    color: #333333;
    font-weight: normal;
    margin-bottom: 10px;
}
.module_clear p {
    color: #666;
}
.module_clear .danjia{
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
    display: block;
    width: 120px;
    height: 35px;
    float: left;
    position: relative;
    left: 245px;
}
.module_clear .shulag {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ff0000;
    display: block;
    width: 100px;
    height: 35px;
    float: left;
}
.module_clear .danjia i{
    float: left;
    font-style: normal;
}
.module_clear .jine i {
    font-size: 15px;
    font-style: normal;
    color: #ff0000;
    display: block;
    float: left;
    text-align: right;
    position: relative;
    left: 273px;
}
.bottor{
    position: relative;
    top: -28px;
}
.shangpqd{
    float: left;
    display: block;
    width: 30px;
    margin-top: 55px;
}
.shangpzj {
	font-size:12px;
	color:#ff0000;
    float: right;
    padding-right: 15px;
}
.shangpzj i{ font-style:normal;}
.yunf i{ font-style:normal;}
.yunf{
	font-size:12px;
	color:#ff0000;
    float: right;
    clear: both;
    padding-right: 15px;
}
.jiesim b {
    float: left;
    display: block;
    width: 30px;
    clear: both;
    position: relative;
    top: 55px;
}
.jiesim h3 {
    margin: 65px 0 0 40px;
    display: block;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    height: auto;
    overflow: hidden;
}
.daizfji i{ font-style:normal;}
.daizfji{
	font-size:16px;
	color:#ff0000;
    float: right;
    clear: both;
    padding-right: 15px;
}
.zhifjin {
    color: #333;
    font-size: 13px;
	margin-right: 20px;
}
.order_comit{
    clear: both;
    float: right;
}
.order_comit a:hover{ color:#FFF; text-decoration:none;}
.btoncomit{
    padding: 4px 20px;
    display: block;
    background: #c81624;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    height: 28px;
    line-height: 28px;
    border-radius: 3px;
}
{
    margin: 12px 0 10px 120px;
    font-size: 24px;
    color: #696969;
    font-weight: normal;
}
.alreaor h1{
    margin: 40px 0 20px 120px;
    font-size: 24px;
    color: #696969;
    font-weight: normal;
}
.bormin {
    padding: 35px 75px;
    font-size: 14px;
    color: #696969;
    border: #CCC 1px solid;
    height: auto;
    overflow: hidden;
}
.bormin p i{ font-style:normal;}
.bormin p .spsce{    margin-left: 14px;}
.leftspace{
    margin-left: 70px;
}
.bormin p {line-height: 30px;}
.redword{
    margin-top: 70px;
    display: block;
    color: #b42323;
    font-size: 18px;
    font-weight: bold;
}
.zhisty img{width:143px; height:40px; border:#7e7e7e 1px solid;}
.zhisty{
	line-height: 40px;
    margin-top: 20px;
}
.page_width .mainRow1 .submit .alreaor .bormin .od_buton .zhifod {
    display: block;
    background-image: url(../images/order/zhif.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 285px;
    height: 63px;
    float: left;
    line-height: 63px;
    text-align: center;
    color: aliceblue;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 2px;
	margin-right: 50px;
}
.page_width .mainRow1 .submit .alreaor .bormin .od_buton .fanhod{
    display: block;
    background-image: url(../images/order/fanh.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 285px;
    height: 63px;
    float: left;
    line-height: 63px;
    text-align: center;
    color: aliceblue;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 2px;
}
.od_buton a:hover{text-decoration:none; }
.od_buton{
    margin-top: 30px;
}


    .nothave li{
        line-height: 30px;
		margin:8px;
    }
.nothave textarea{
    width: 290px;
    height: 50px;
}
.nothave li i{ color:#F00;float: left;
    margin-right: 5px;}
.nothave li b{
    position: relative;
    top: -33px;
    font-weight: normal;
	margin-right: 12px;
}
.nothave li .ipduan{ width:70px;}
.nothave li span{
    margin-right: 12px;
}
.nothave li select{ width:63px;}
	.havtance{ margin-right:5px;}
    .nothave li .btn {
    width: 96px;
    height: 28px;
    background: #fe7603;
    color: white;
    border: none;
    border-radius: 4px;
}
.nothave li .btr {
    width: 60px;
    height: 28px;
    background: #f5f5f5;
    color: #878787;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.nothave .lfyb{ margin-left:20px;}
.nothave .leftip {
    margin-left: 10px;
}
.nothave .lfspaace{
    margin-left: 90px;
}
.takeinfo .delba{
    display: block;
    float: right;
    background: #f3f3f3;
    padding: 2px 8px;
    border-radius: 4px;
    color: #999;
    border: 1px solid #ddd;
    font-weight: normal;
}
.takeinfo{
    border: 2px solid #d2d2d2;
    padding: 15px 20px 15px 20px;
    width: 850px;
	margin: 20px 20px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
	/*添加*/
	display:none;

}
	.choicepl {
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    margin-right: 3px;
     }
	.nothave input{ height:22px;}
	.nothave select{ height:24px;width: 50px}
/*新增地址*/	
/* operate */
.operate{width:105px; margin: 15px 0 15px 40px;}
.operate h4 {
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background: #f3f3f3 url(../images/submit/bg3.png) no-repeat 82px -46px;
    padding-left: 13px;
    text-decoration: none;
    font-size: 12px;
    color: #666666;
    display: block;
    font-weight: normal;
    width: 90px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
}
.operate .tclick{background-position:82px 9px;}
.operate li .list-item p.hover a{background-color:#8caf00;color:#fff;text-decoration:none;background-position:42px -14px;font-weight:800;}	

/* 交易成功CSS */
.deal_succeed {
    width: 600px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 45px 0 30px 128px;
}
.deal_succeed .scsd_img img{ width: 180px; height: 180px; float: left;}
.deal_succeed .scsd_img h3{
    font-size: 42px;
    font-weight: normal;
    color: #c41e1e;
    display: block;
    float: left;
    margin: 75px 0 0 32px;
}
.deal_succeed .scsd_word{
    width: 600px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0 20px 50px;
}
.deal_succeed .scsd_word h5{
    font-size: 18px; 
        margin:0 0 5px 45px;
}  
.deal_succeed .scsd_word p{
    font-size: 16px;
    line-height: 28px;
}
.deal_succeed .scsd_word p b{ font-weight: normal;}
.deal_succeed .scsd_word p i{ font-size: 18px; color: #bc1b1b;margin: 0 5px;}
.deal_succeed .scsd_word p .scsd_red{ color: #cf0606;}
.deal_succeed .scsd_word p .scsd_red .cored{color: #bc1b1b;font-size: 18px;}
.deal_succeed .botons_box .pay_continue{
    cursor: pointer;
    display: block;
    float: left;
    width: 100px;
    height: 32px;
    background: #cf0606;
    line-height: 32px;
    text-align: center;
    margin-right: 150px;
}
.deal_succeed .botons_box .return_order{
    cursor: pointer;
    display: block;
    float: left;
    width: 100px;
    height: 32px;
    background: #cf0606;
    line-height: 32px;
    text-align: center;
}
.deal_succeed .botons_box a{
    color: #fff; font-size: 12px;
}
.deal_succeed .botons_box a:hover{text-decoration: none;}
.page_width .margin_bottom{ margin-bottom: 200px;}
.detail_title {
    font-size: 14px;
    color: #666;
    background-color: #eee;
    line-height: 40px;
    padding-left: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.detail_tab td {
    padding-left: 10px;
    color: #666;
    /*border: 1px solid #BFBFBF;*/
}
.detail_tab {
    border: 1px solid #BFBFBF;
        margin: 12px auto;
}                         
.orange {
    color: #f38201;
}
.price02 {
}

.yListr {
    overflow: hidden;
    margin:0 auto;
}

.yListr ul {
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 13px;
}

.yListr ul li {
    height: 36px;
    margin-bottom: 8px;
    float: left;
}

.yListr ul li span {
    color: #000000;
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    width: 42px;
    padding-left: 4px;
}

.yListr ul li em {
    margin-right: 10px;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    font-style: normal;
    border: 1px solid #dcdcdc;
    line-height: 32px;
    height: 32px;
     width: 100px;
    text-align: center;
}

.yListr ul li em.yListrclickem {
    line-height: 30px;
    border: 2px solid #c81624;
    height: 30px;
    position: relative;
    padding: 0 9px;
    width: 100px;
    text-align: center;
}

.yListr ul li em.yListrclickem i {
    display: block;
    width: 15px;
    height: 14px;
    background: url(../images/order/righbt.png) no-repeat 0 0; 
    right: -1px;
    bottom: -1px;
    position: absolute;
}

.yListr .colorp00 {
    color: #333333;
    font-size: 18px;
    line-height: 50px;
}

.yListr .colorp00 span {
    color: #ed610c;
    font-size: 14px;
    padding-left: 20px;
}

.yListr .colorp00 em {
    font-style: normal;
}

.yListr form input, .yListr form select {
    outline: none;
    border: 1px solid #dcdcdc;
    width: 86px;
    height: 34px;
    font-size: 14px;
    color: #333333;
    padding-left: 8px;
}

.yListr form select {
    height: 36px;
}

.yListr form .YImmediatelyininstallment {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 332px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background: #e9630a;
    margin-top: 42px;
}
.js_show{
    color: blue;
    line-height: 25px;
    padding-left: 25px;
    width: 90px;
}
.mar_cotent{
    padding-left: 25px;
}